
body {
    background-image: url("./Images/Dungeon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family:'Times New Roman', Times, serif;

  }
  
.container {
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: 15px;
    padding: 5px;
    background: linear-gradient(45deg,#afaeae 0%, #7c7c7e 50%,#afaeae 100%);
    cursor: pointer;
  }
  
  h1 {
    margin: 15px;
    padding: 15px;
    background-color: black;
    color:darkred;
    text-align: center;
    max-width: 400px;
  }